In [13]:
import pandas as pd

In [14]:
# 2 main data types
series = pd.Series(["BMW","Toyota","Honda"])
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [15]:
# series = 1-dimensional
colours = pd.Series(["Red","Blue", "White"])
colours

0      Red
1     Blue
2    White
dtype: object

In [16]:
# DataFrame = 2- dimensional
car_data = pd.DataFrame({"Car make": series,"Colour": colours})
car_data

  Car make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White